/* Color Variables */

:root {
    --backgroundDark:(#28292D);
    --headerTextLight: (#E6E7E9);
    --mainTextGray: (#646568);
    --bodyBackground: (#2E3134);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


.main {
    width: 100%;
    max-width: 375px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

.nav {

}

.header {
    display: flex;
    list-style: none;
}

.tree-logo {
    width: 20%;
}
