/* Color Variables */

:root {
    --darkGray:#28292D;
    --white: #E6E7E9;
    --gray: #838791;
    --gold: #776653;
    --blue: #0077C8;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--darkGray); 
}

.main {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*     background: linear-gradient(135deg,
    rgba(0,0,0,1) 0%,
    rgba(34,34,34,1) 5%,
    rgba(60,60,60,1) 10%,
    rgba(48,48,48,1) 20%,
    rgba(0,0,0,1) 100%
); */
 /* slate */
/* background: linear-gradient(to bottom, rgba(50, 60, 70, 1) 0%, rgba(40, 50, 60, 1) 100%); */

/* granite */
/* background: linear-gradient(to bottom,   
rgba(62,62,62,1) 0%,
rgba(75,75,75,1) 12%,
rgba(70,70,70,1) 20%,
rgba(60,60,60,1) 30%,
rgba(57,57,57,1) 40%,
rgba(52,52,52,1) 50%,
rgba(45,45,45,1) 60%,
rgba(42,42,42,1) 70%,
rgba(40,40,40,1) 80%,
rgba(37,37,37,1) 90%,
rgba(35,35,35,1) 100%
); */


/* background: linear-gradient(135deg,
rgba(51,51,51,1) 0%,
rgba(68,68,68,1) 12%,
rgba(85,85,85,1) 24%,
rgba(102,102,102,1) 36%,
rgba(119,119,119,1) 48%,
rgba(136,136,136,1) 60%,
rgba(153,153,153,1) 72%,
rgba(170,170,170,1) 84%,
rgba(187,187,187,1) 96%,
rgba(204,204,204,1) 100%
); */

/* background: linear-gradient(45deg,
    rgba(0,0,0,1) 0%,
    rgba(2,2,2,1) 5%,
    rgba(4,4,4,1) 10%,
    rgba(6,6,6,1) 15%,
    rgba(8,8,8,1) 20%,
    rgba(10,10,10,1) 25%,
    rgba(12,12,12,1) 30%,
    rgba(14,14,14,1) 35%,
    rgba(16,16,16,1) 40%,
    rgba(18,18,18,1) 45%,
    rgba(20,20,20,1) 50%,
    rgba(22,22,22,1) 55%,
    rgba(24,24,24,1) 60%,
    rgba(26,26,26,1) 65%,
    rgba(28,28,28,1) 70%,
    rgba(30,30,30,1) 75%,
    rgba(32,32,32,1) 80%,
    rgba(34,34,34,1) 85%,
    rgba(36,36,36,1) 100%
); */

/* background: linear-gradient(125deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(34, 34, 34, 1) 5%,
    rgba(36, 36, 36, 1) 10%,
    rgba(38, 38, 38, 1) 15%,
    rgba(40, 40, 40, 1) 20%,
    rgba(42, 42, 42, 1) 25%,
    rgba(44, 44, 44, 1) 30%,
    rgba(46, 46, 46, 1) 35%,
    rgba(48, 48, 48, 1) 40%,
    rgba(50, 50, 50, 1) 45%,
    rgba(52, 52, 52, 1) 50%,
    rgba(54, 54, 54, 1) 55%,
    rgba(56, 56, 56, 1) 60%,
    rgba(58, 58, 58, 1) 65%,
    rgba(60, 60, 60, 1) 70%,
    rgba(62, 62, 62, 1) 75%,
    rgba(64, 64, 64, 1) 80%,
    rgba(66, 66, 66, 1) 85%,
    rgba(68, 68, 68, 1) 90%,
    rgba(70, 70, 70, 1) 95%,
    rgba(72, 72, 72, 1) 100%
); */

/* background: linear-gradient(to bottom,
rgba(40,40,40,1) 0%,
rgba(35,35,35,1) 12%,
rgba(32,32,32,1) 20%,
rgba(30,30,30,1) 30%,
rgba(27,27,27,1) 40%,
rgba(25,25,25,1) 50%,
rgba(22,22,22,1) 60%,
rgba(20,20,20,1) 70%,
rgba(18,18,18,1) 80%,
rgba(15,15,15,1) 90%,
rgba(10,10,10,1) 100%
); */


/* background-image: linear-gradient(to right top, #bf7a30, #ca9148, #d5a861, #e1bf7d, #edd599); */

/* background-image: linear-gradient(to right top,
#000000,
#333333,
#666666,
#999999,
#cccccc
); */


/* background-image: linear-gradient(to left bottom, 
  #000000, 
  #0c0c0c, 
  #181818, 
  #242424, 
  #303030, 
  #3c3c3c, 
  #484848, 
  #545454, 
  #606060, 
  #6c6c6c, 
  #787878, 
  #848484, 
  #909090, 
  #9c9c9c, 
  #a8a8a8, 
  #b4b4b4, 
  #c0c0c0, 
  #cccccc, 
  #d8d8d8, 
  #e4e4e4, 
  #f0f0f0
); */

/* background-image: linear-gradient(to top right, 
  #000000, 
  #0f0f0f, 
  #1e1e1e, 
  #2d2d2d, 
  #3c3c3c, 
  #4b4b4b, 
  #5a5a5a, 
  #696969, 
  #787878, 
  #878787, 
  #969696, 
  #a5a5a5, 
  #b4b4b4, 
  #c3c3c3, 
  #d2d2d2, 
  #e1e1e1, 
  #f0f0f0
); */

background-image: linear-gradient(45deg,
#000000, 
#0c0c0c, 
#181818, 
#242424, 
#303030, 
#3c3c3c, 
#484848, 
#545454
);


    /* background-color: var(--darkGray); */
}

.main::before,
.main::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: auto;
    transform: translate(3%, -86%);
    z-index: -1;
}

/* .main::before {
    top: 0;
    left: 0;
    background: url('images/border-top.png') no-repeat bottom right; 
} */

.main::after {
    top: 85%;
    left: -5%;
    background: url('images/border-bottom.png') no-repeat bottom right;
}

.intro-text-container {
    color: var(--white);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.intro-header {
    margin-left: 52px;
    margin-bottom: 0;
    margin-top: -24px;
}

.intro-header-span1 {
    display: block;
}

.intro-header-span2 {
    color: #776653;
}


.intro-paragraph {
    display: block;
    margin-left: 10px;
    width: 92%;
    color: var(--gray);
    margin-bottom: 7px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
}

.divider {
    width: 89%;
    margin-left: 10px;
}

.divider-header {
    width: 93%;
    margin-left: 10px;
}

.about-header {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 6px;
    color: var(--white);
}

.languages-container {
    padding: 0;
    margin-left: 10px;
    color: var(--gray);
    margin-top: 0;
    margin-bottom: 9px;
}

.languages-header {
    color: var(--gold);
    margin-right: 7px;
}

.libraries-container {
    padding: 0;
    margin-left: 10px;
    color: var(--gray);
    margin-top: 0;
    margin-bottom: 9px;
}

.libraries-header {
    color: var(--gold);
    margin-right: 7px;
}

.frameworks-container {
    padding: 0;
    margin-left: 10px;
    color: var(--gray);
    margin-top: 0;
    margin-bottom: 9px;
}

.frameworks-header {
    color: var(--gold);
    margin-right: 7px;
}

.tools-container {
    padding: 0;
    margin-left: 10px;
    color: var(--gray);
    margin-top: 0;
}

.tools-header {
    color: var(--gold);
    margin-right: 7px;
}

.projects-header {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 16px;
    color: var(--white);
}

/* Project Styles */

.project {
    display: inline-block;
    margin-left: 16px;
    text-align: center;
    width: 26%;
    box-shadow: 2px 2px 4px rgba(119, 102, 83, 0.5);
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 10px;
    position: relative;
    color: var(--gray);
    cursor: pointer;
}

.project:hover {
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.25);
}

.project img {
    max-width: 100%;
}

.project h3 {
    margin: 1em 0;
    font-size: 1.5em;
    font-weight: 600;
}

/* Add pulsating blue border on hover */
.project:hover::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border: 2px solid #0077C8;
    border-radius: 10px;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Add button press animation on click */
.project:active {
    transform: translateY(2px);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
}

.project {
    border: 2px solid transparent;
    transition: border 0.2s ease-in-out;
}

.project:hover {
    border: 2px solid #0077C8;
    animation: pulsate 1s ease-in-out infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        border-color: #0077C8;
    }
    50% {
        transform: scale(1.05);
        border-color: #0077C8;
    }
    100% {
        transform: scale(1);
        border-color: #0077C8;
    }
}

.project:active {
    transform: translateY(2px);
    box-shadow: none;
}

/* Contact Section */

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact-header {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 6px;
    color: var(--white);
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-icon:not(:last-child) {
    margin-right: 20px;
}

.contact-icon {
    color: var(--white);
    transition: all 150ms ease-in-out;
}

.contact-icon:hover {
    color: var(--blue);
}  

  
  fa-envelope, .fa-github, .fa-linkedin {
    font-size: 20px;
    margin-right: 10px;
}
  
a {
    color: inherit;
    text-decoration: none;
}








.header-menu {
    height: 1.1875rem;
    margin-left: 86%;
    padding-right: 0;
    position: fixed;
    left: 8px;
    top: 27px;
    z-index: 1;
}

/* span elements that make Hamburger menu */

.header-menu-container {
    z-index: 10;
}

.header-menu > span {    
    display: block;
    height: 2px;
    background-color: var(--white);
    transition: all 300ms ease-in-out;
    transform-origin: 22% 124%;
}

.menu-line-1 {
    width: 15px;
}

.menu-line-2 {
    width: 10px;
    position: relative;
    left: 2px;
}

.header-menu > span:not(:last-child) {
    margin-bottom: 6px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}

.header-open > span:first-child {
    transform: rotate(45deg);
    width: 20px;
    background-color: var(--white);
}


.header-open > span:last-child {
    transform: rotate(-45deg);
    width: 20px;
    background-color: var(--white);
}

.header-logo {
    width: 25px;
    height: 30px;
    margin-top: 18px;
    margin-left: 15px;
    opacity: 0;
}

.intro-img {
    display: none
}

.intro-header {
    
}

.header-nav {
    display: none;
}

.header-links {
    display: none;
}

/* overlay for hamburger menu */

.overlay {
    display: block;
    max-width: 64.266%;
    margin-left: auto;
    margin-right: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    background-image: linear-gradient(45deg, #000000, #0c0c0c, #181818, #242424, #303030, #3c3c3c, #484848, #545454 );
}

.overlay-2 {
    display: block;
    max-width: 35.734%;
    margin-left: 0; 
    margin-right: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    filter: contrast(13);
    z-index: 4;
}

/* animations for overlay and overlay2 sliding */

#overlay {
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
}
  
#overlay.open {
    transform: translateX(0%);
}

#overlay2 {
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
}

#overlay2.open {
    transform: translateX(0%);
}

#overlay.close {
    transform: translateX(100%);
}
    
#overlay2.close {
    transform: translateX(-100%);
}

/* links in hamburger menu */
.header-display {       
    display: flex;
    flex-direction: column;
    position: relative;
    top: -65px;
    left: -3px;
}

.header-display > a {
    text-align: left;
    padding-left: 1.625rem;
    text-decoration: none;
    font-size: 16px;
    color: var(--white);
    line-height: 0.7;
    font-family: Merriweather,sans-serif;
    font-weight: 700;
}

.header-display > a:not(:last-child) {
    margin-bottom: 31.15px;
}

.down-arrow1 {
    width: 10px;
    margin: 0;
    position: relative;
    top: -40px;
    left: 112px;
    transition: all 200ms linear;
}

.down-arrow1.active {
    transform: rotate(180deg);
}

.down-arrow2 {
    width: 10px;
    margin: 0;
    position: relative;
    top: -41px;
    left: 115px;
    transition: all 200ms linear;
}

.down-arrow2.active {
    transform: rotate(180deg);
}

/* Submenu for Features */

.features-submenu {
    display: none;
    width: 100%;
    max-width: 120px;
    height: 147px;
    padding: 0;
    position: relative;
    top: -19px;
    left: 49px;
    list-style: none;
    animation: open 200ms linear, growDown 200ms linear;
    background-color: var(--white);
}

/* Animations for Submenus */

@keyframes open {
    0% {
        height: 0px;
    }

    30% {
        height: 30px;
    }

    60% {
        height: 73px;
    }

    90% {
        height: 110px;
    }
    100% {
        height: auto;
    }
} 

@keyframes growDown {
    0% {
        transform: scaleY(0);
        transform: scaleX(0);
    }
    80% {
        transform: scaleY(1.1);
        transform: scaleX(1.1);
    }
    100% {
        transform: scaleY(1);
        transform: scaleX(1);
    }
}

/* Feature Submenu Styles */

.features-submenu.show {
    display: inline-block;
}

.features-submenu.dark {
    background-color: var(--darkGray);
}

.features-mobile-header {
    margin-top: 150px;
    padding-top: 0;
}

li {
    display: inline-block;
}


ul {
    position: relative;
    top: 2px;
}

.icon {
    width: 18px;
    height: 20px;
    margin-left: 1px;
    position: relative;
    top: -2px;
}

.icon-2 {
    width: 20px;
}

.icon-3 {
    width: 17px;
}

.submenu-option {
    width: 69%;
    position: relative;
    top: -7px;
    left: 11px;
    color: var(--gray);
    cursor: pointer;
}

/* Company Submenu */

.company-submenu {
    display: none;
    width: 100%;
    max-width: 111px;
    height: 105px;
    padding: 0;
    position: relative;
    left: 51px;
    top: -26px;
    background-color: var(--almostWhite);
    color: var(--gray);
    animation: open 200ms linear, growDown 200ms linear;
}

.company-submenu > li {
    cursor: pointer;
}

.company-submenu.show {
    display: inline-block;
}

.company-submenu.dark {
    background-color: var(--darkGray);
}

.company-submenu > li:nth-child(2) {
    width: 69%;
}

.company-submenu > li:not(:last-child) {
    margin-bottom: 25px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10px;  
}

.login {
    position: relative;
    top: -17px;
    left: -1px;
    font-size: 14px;
    color: var(--gray);
    text-decoration: none;
}

.register-btn {
    width: 100%;
    max-width: 193px;
    height: 42px;
    border-radius: 14px;
    font-size: 14px;
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 5px var(--white);
    background: linear-gradient(to right, #776653, #847146, #917c3f, #9e8635, #aa9029 );
    letter-spacing: 1px;
    padding: 0;
    border-color: var(--gold);
    font-weight: 698;
}

.register-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px var(--mediumGray);
}

/* animations for Hamburger menu overlay */

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* animations for overlay2 */
@keyframes fade-in2 {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 0.7;
    }
}

@keyframes fade-out2 {
    from {
        visibility: visible;
        opacity: 0.7;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* Helper classes for animations */

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

.fade-in2 {
    animation: fade-in2 200ms ease-in-out forwards;
}

.fade-out2 {
    animation: fade-out2 200ms ease-in-out forwards;
}

.has-fade {
    visibility: hidden;
}

.has-fade2 {
    visibility: hidden;
}


/* Hero Section */



.hero-heading {
    margin-top: 0;
    margin-bottom: 19px;
    text-align: center;
    font-size: 35.4px;
}

.hero-desc {
    margin: 0px 17px 25px 15px;
    text-align: center;
    line-height: 1.6;
    color: var(--mediumGray);
}

.hero-btn {
    display: block;
    width: 136px;
    height: 48px;
    margin: 0 auto 51px auto;
    padding: 2px 0 0 4px;
    position: relative;
    left: -1px;
    background-color: var(--almostBlack);
    border: none;
    border-radius: 15px;
    font-family: Epilogue, sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 150ms ease-in-out;
    box-shadow: 0px 0px 4px var(--mediumGray);
}

.hero-btn:hover {
    background-color: var(--almostWhite);
    border: solid 1px var(--almostBlack);
    color: var(--almostBlack);
}

.hero-btn:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px var(--mediumGray);
}

.clients {
    display: flex;
    justify-content: space-around;
}

.client-1 {
    width: 82px;
    height: 14px;
    position: relative;
    top: 3px;
    left: 0px;
}

.client-2 {
    width: 53px;
    height: 26px;
    position: relative;
    top: -3px;
    left: -1px;
}

.client-3 {
    width: 63px;
    height: 15px;
    position: relative;
    top: 3px;
    left: -1px;
}

.client-4 {
    width: 59px;
    height: 17px;
    position: relative;
    top: 2px;
    left: -1px;
}

/* Dark Mode Styles */

.dark-background {
    background-color: var(--almostBlack);
}

.gray-text {
    color: var(--mediumGray);
}

.gray-background {
    background-color: var(--mediumGray);
}

.light-text {
    color: var(--almostWhite);
}

.light-background {
    background-color: var(--almostWhite);
}

.light-filter {
    filter:contrast(0);
}

.light-button {
    background-color: var(--almostWhite);
    color: var(--almostBlack);
}

.header-link.light-text:hover {
    color: white;
}


.hamburger-menu.light-background {
    background-color: var(--almostWhite);
}

/* Dark Mode Buttons */

/* Dark Mode Button 1 */

.toggle-container-mobile {
    margin-top: 50px;
}

.toggle-container-desktop {
    display: none;
  }
  
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-2 {
    opacity: 0;
    position: absolute;
}

.label {
    display: inline-block;
    width: 80px;
    height: 40px;
    position: relative;
    background-color: var(--almostWhite);
    border-radius: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: background 200ms linear;
    cursor: pointer;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.fa-moon {
    font-size: 18px;
    color: #333;
}

.fa-sun {
    font-size: 18px;
    color: #333;
}

.switch {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--almostWhite);
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: transform 200ms linear;
    cursor: pointer;
}

.switch-2 {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--almostWhite);
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: transform 200ms linear;
    cursor: pointer;
}

.switch.gray-background {
    background-color: #333;
}

.checkbox:checked + .label {
    background-color: var(--almostBlack);
}

.checkbox:checked + .label .switch {
    transform: translateX(30px);
}

.checkbox:checked + .label .fa-sun {
    display: none;
}

.checkbox:checked + .label .fa-moon {
    display: inline-block;
}

.checkbox:not(:checked) + .label .fa-sun {
    display: inline-block;
}

.checkbox:not(:checked) + .label .fa-moon {
    display: none;
}
  
/* Dark Mode Button 2 */

.checkbox-2:checked + .label {
    background-color: var(--almostBlack);
}

.checkbox-2:checked + .label .switch-2 {
    transform: translateX(30px);
    background-color: #333;
}

.checkbox-2:checked + .label .fa-sun {
    display: none;
}

.checkbox-2:checked + .label .fa-moon {
    display: inline-block;
}

.checkbox-2:not(:checked) + .label .fa-sun {
    display: inline-block;
}

.checkbox-2:not(:checked) + .label .fa-moon {
    display: none;
}